.body{
    height: 100%;
    width: 55%;
    align-items: center;
    color: white;
    background: gray;
    border-radius: 12px;
    margin: auto;
}
.heading{
    text-align: center;
}
.paragraph{
    text-align: center;
}